
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Questrial', sans-serif;
  background-color: #f4f5f6;
  font-size: 14px;
  color: #e6e6e6;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}


#root {
  width: 100%;
}

:root{
  --bg-color: #ececec;
}

.app {
  width: 100%;
}

/* App Header */

.menu {
  display: inline-block;
  position: absolute;
  width: 56px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.bar {
  width: 80%;
  height: 3px;
  background: black;
  margin: 0 auto 8px;
  transition: transform 0.4s ease;
}

.open-sidebar {
  border: none;
}


aside {
  position: fixed;
  width:100%;
  height: 100%;
  background-color: #f4f5f6;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: all 0.25s;
  text-align: center;
  flex-wrap: wrap;
  color: #fff;
  z-index: 900;
}

aside.open {
  transform: translateX(0);
}

aside ul {
  padding: 0;
  list-style: none;
}

aside li {
  padding: 0.25rem;
}

button.close-sidebar {
  height: 4rem;
  width: 4rem;
  margin: .75rem;
}

.aside-item .header h1 {
  color: #c9c9c9;
  font-size: 4rem;
  position: absolute;
  transform: rotate(-90deg);
  top: 30%;
  left: -32%;
}

.app-header-mobile {
  width: 100%;
  min-height: 60px;
  display: flex;
  justify-content: space-evenly;
  background-color: #f4f5f6;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 0 0.2rem;
  box-shadow: 0px -20px 35px #fff, 0px -5px 7.5px #fff, 0px 0px 15px #fff, 3px 5px 12.5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.app-header {
  width: 100%;
  display: none;
  justify-content: space-evenly;
  background-color: #f4f5f6;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 0 0.2rem;
  box-shadow: 0px -20px 35px #fff, 0px -5px 7.5px #fff, 0px 0px 15px #fff, 3px 5px 12.5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

/* End of App Header */

/* Button styles */ 

.button {
  position: relative;
  padding: 0;
  width: 120px;
  height: 60px;
  border: 4px solid #c9c9c9;
  outline: none;
  background-color: #f4f5f6;
  border-radius: 15px;
  box-shadow: -6px -20px 35px #f4f5f6, -3px -5px 7.5px #f4f5f6, -10px 0px 15px #f4f5f6, 3px 5px 12.5px rgba(0, 0, 0, 0.2);
  transition: 0.13s ease-in-out;
  cursor: pointer;
}

.button:active .button-content {
  box-shadow: none;
}

.button:active .button-content .button__text {
  transform: translate3d(0px, 0px, 0px);
}

.button-content {
  position: relative;
  padding: 15px 20px 20px 20px;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px -8px 0px #ddd, 0px -8px 0px #f4f5f6;
  border-radius: 15px;
  transition: 0.13s ease-in-out;
  z-index: 1;
}

.button__text {
  position: relative;
  transform: translate3d(0px, -4px, 0px);
  margin: 0;
  text-align: center;
  font-size: 15px;
  background-color: #888;
  color: transparent;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  transition: 0.13s ease-in-out;
}

/* End of Button Styles */

/* Main Body Styles */

main {
  padding: 70px 5px 50px;
}

.homepage {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 450px;
}

.card-around {
  border: solid 2px #dfdfdf;
  border-radius: 10px;
  width: 400px;
  height: 200px;
  margin: 2rem 1rem;
  box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.2);
}

.card-container {
  border-radius: 10px;
  border: solid 8px #ececec;
  height: 100%;
  background-color: #cccccc;
  box-shadow: inset 3px 3px 6px 5px rgba(0,0,0,0.2);
  z-index: 2;
}

.opaque {
  position: relative;
  width: 100%;
  top: 0;
  right: 0px;
  height: 100%;
  background-color: #eeeeee;
  box-shadow: inset 0px 0px 2px 2px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
  transition: all 0.2s;
  border-radius: 5px;
  z-index: 5;
}

.opaque img {
  width: 100%;
  height: 100%;
  margin: 0;
}

.card-container:hover .opaque {
  position: relative;
  width: 0%;
  transition: all 0.2s;
}

#slider {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #adadad;
  transition: all .5s ease-in-out;
  z-index: 999;
  min-height: 100%;
  right: 0px;
}

@keyframes slide {
  0%   {width: 0vw;}
  20%  {width: 100vw;}
  80%  {width: 100vw;}
  100%   {width: 0vw;}
}

.homepage-links-container {
  width: 100%;
  position: relative;
  margin-bottom: 500px;
}

.homepage-bg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin-bottom: 500px;
}

.homepage-link {
  position: absolute;
  z-index: 2;
  transition: all 0.6s ease-in-out;
  background-color: transparent;
  border: none;
}

.homepage-link:hover {
  transform: scale(1.1);
  transition: all 0.6s ease-in-out;
}

.homepage img {
  width: 100%;
}

.astro-goalie {
  width: 78%;
  right: 5%;
  margin-top: 45%;
  transform: rotate(10deg);
  animation: floatgoalie 8s linear 0s infinite;
}

@keyframes floatgoalie {
  0% {}
  25% {}
  50% {}
  75% {}
  100% {}
}

.astro-blog {
  width: 50%;
  right: 50%;
  margin-top: 210%;
  transform: rotate(15deg);
  animation: floatblog 8s linear 0s infinite;
}

@keyframes floatblog {
  0% {}
  25% {}
  50% {}
  75% {}
  100% {}
}

.astro-me {
  width: 47%;
  right: 10%;
  transform: rotate(15deg);
  margin-top: 230%;
  animation: floatme 8s linear -2s infinite;
  background-color: none;
}

@keyframes floatme {
  0% {}
  25% {}
  50% {}
  75% {}
  100% {}
}

.astro-code {
  width: 75%;
  right: 16%;
  margin-top: 110%;
  transform: rotate(-20deg);
  animation: floatcode 8s linear -4s infinite;
}

@keyframes floatcode {
  0% {}
  25% {}
  50% {}
  75% {}
  100% {}
}

.astro-contact {
  width: 50%;
  right: 50%;
  transform: rotate(30deg);
  margin-top: 10%;
  animation: floatcontact 8s linear -1s infinite;
}

@keyframes floatcontact {
  0% {}
  25% {}
  50% {}
  75% {}
  100% {}
}

.astro-skills {
  width: 40%;
  right: 8%;
  margin-top: 0%;
  transform: rotate(180deg);
  animation: floatskills 8s linear -6s infinite;
}

@keyframes floatskills {
  0% {}
  25% {}
  50% {}
  75% {}
  100% {}
}

.slider-close {
  transition: all .4s ease-in-out;
  animation-name: slide;
  animation-duration: 0.4s;
}

/* End of Main Body Styles */

/* Individual Pages */

.header {
  width: 100%;
  color: #a3a3a3;
  font-weight: 700;
  font-family: 'Great Vibes', cursive;
  margin-bottom: 10px;
}

.header h1 {
  width: 100%;
  margin: 0;
  text-align: center;
  font-size: 4rem;
}

/* About Page */

.about-page {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  align-items: center;
}

.about-pic {
  width: 300px;
  margin: 5px;
}

.about-info-container {
  background: rgb(201,201,201);
  background: linear-gradient(45deg, rgba(201,201,201,1) 0%, rgb(244, 245, 246, 1) 30%, rgb(244, 245, 246, 1) 70%, rgba(201,201,201,1) 100%); 
  padding: 5px;
  border-radius: 5px;
}

.about-info {
  background-color: #f4f5f6;
  border-radius: 5px;
  padding: 2px;
}

.about-info h1 {
  margin: 0;
  color: #7a7a7a;
  font-size: 1.5rem;
}

.about-info p {
  color: #7a7a7a;
  font-size: 1rem;
}

.about-info a {
  color: #7a7a7a;
}

.about-info p span {
  font-weight: 700;
}

.about-info q {
  font-size: 2.5rem;
  font-family: 'Great Vibes', cursive;
  font-weight: 600;
}

/* End of About Page */

/* Contact Page */

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contact-container h1 {
  position: relative;
  z-index: 3;
}

.contact-container a {
  height: 300px;
  width: 150px;
  position: relative;
  margin: 3px;
}

.bg-color {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  min-width: 2000px;
  min-height: 2000px;
  overflow: hidden;
}

.contact-container a img {
   height: 300px;
   width: 150px;
   z-index: 2;
}

.contact-container a .color  {
  position: absolute;
  top: 0;
  right: 0;
  left: 0px;
  width: 150px;
  transition: all 0.15s;
}

.contact-container a .grey {
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  transition: all 0.15s;
  display: none;
}

.contact-container .mail:hover .bg-mail {
  opacity: 1;
  background: rgb(60,17,13);
  background: linear-gradient(157deg, rgba(60,17,13,1) 0%, rgba(152,44,34,1) 33%); 
}

.contact-container .call:hover .bg-call {
  opacity: 1;
  background: rgb(75,35,0);
background: linear-gradient(157deg, rgba(75,35,0,1) 0%, rgba(201,94,0,1) 33%); 
}

.contact-container .address:hover .bg-address {
  opacity: 1;
  background: rgb(83,78,3);
  background: linear-gradient(157deg, rgba(83,78,3,1) 0%, rgba(200,188,8,1) 33%); 
}

.contact-container .linkedin:hover .bg-linkedin {
  opacity: 1;
  background: rgb(11,68,12);
  background: linear-gradient(157deg, rgba(11,68,12,1) 0%, rgba(26,155,28,1) 33%); 
}

.contact-container .twitter:hover .bg-twitter {
  opacity: 1;
  background: rgb(9,49,75);
  background: linear-gradient(157deg, rgba(9,49,75,1) 0%, rgba(22,125,191,1) 33%); 
}

.contact-container .github:hover .bg-github {
  opacity: 1;
  background: rgb(33,0,33);
  background: linear-gradient(157deg, rgba(33,0,33,1) 0%, rgba(83,1,83,1) 33%); 
}

/* End Of Contact Page */

/* 404 Page */

.not-found {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.not-found-info {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
}

.not-found img {
  width: 450px;
  height: 600px;
}

.not-found-info h1,
.not-found-info h3,
.not-found-info p {
  width: 100%;
  text-align: center;
  color: #7a7a7a;
}

.not-found-info h1 {
  font-family: 'Great Vibes', cursive;
  margin: 0;
  font-size: 15rem;
}

.not-found-info h3 {
  font-size: 1.5rem;
}

.not-found-info p {
  font-family: 'Great Vibes', cursive;
  font-size: 3rem;
}

/* End of 404 Page */

/* Skills Page */

.skill-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.inner-card-info {
  width: 225px;
  height: 315px;
  background-color: #202c3f;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  top: 37.5px;
  left: 37.5px;
}

.inner-card-info h3 {
  position: relative;
  top: -30px;
  font-size: 2.5rem;
}

.card-letter,
.card-letter-bottom {
  height: 70px;
  position: absolute;
  z-index: 2;
}

.card-letter {
  top: 15px;
  left: 15px;
}

.card-letter-bottom {
  bottom: 15px;
  right: 15px;
  transform: rotate(180deg);
}

 .flip-card {
  background-color: transparent;
  width: 300px;
  height: 420px;
  perspective: 1000px;
  color: #efa646;
  border-radius: 6px;
  transition: transform 0.4s;
  cursor: pointer;
  margin: 8px;
}

.flip-card:hover {
  transform: scale(1.1);
  transition: transform 0.4s;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.4s;
  transform-style: preserve-3d;
  border-radius: 6px;
  -webkit-box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.5); 
  box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.5);
}

.flip-card:hover .flip-card-inner {
  -webkit-box-shadow: -20px 23px 26px -2px #000000; 
  box-shadow: -20px 23px 26px -2px rgba(0, 0, 0, 0.5);
  transition: transform 0.4s;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 6px;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: #000;
  display: none;
}

.flip-card-front img {
  border-radius: 6px;
  width: 300px;
  height: 420px;
}

.flip-card-back {
  background-color:#1f2a3d;
} 

.skill-stats {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  width: 100%;
  padding: 0 60px;
}

.skill-stats img {
  width: 40px;
}

.skill-stats p {
  margin: 0 6px 6px 6px;
}

/* End Of Skills Page */

/* Coding Page */

.coding-links-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.coding-container {
  justify-content: space-evenly;
}

.grey-image {
  opacity: 1;
}

.color-image {
  opacity: 0;
}

.code-card {
  background-color: #f4f5f6;
  border: 0;
  transition: all 0.2s ease-in-out;
}

.code-header {
  border-radius: 5px;
  width: 816px;
  min-height: 100%;
}

.btn {
  padding: 0;
}

.btn-check:focus + .btn-primary, .btn-primary:focus {
  border: none;
  background-color: #e6e6e6;
  box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.2);
}

.btn-primary {
  background-color: #f4f5f6;
  border: none;
  padding: none;
}

.btn-check:active + .btn-primary, .btn-check:checked + .btn-primary, .btn-primary.active, .btn-primary:active, .show > .btn-primary.dropdown-toggle {
  color: #ececec;
  background-color: #ececec;
  border: none;
}

.btn-check:active + .btn-primary:focus, 
.btn-check:checked + .btn-primary:focus, 
.btn-primary.active:focus, .btn-primary:active:focus, 
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

.code-button:hover {
  color: #ececec;
  background-color: #ececec;
  border: none;
} 

.card-body {
  padding: 0;
}

.code-button {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1rem auto;
  max-width: 40rem;
  position: relative;
  box-shadow: 0.75rem -0.5rem 0 var(--accent), 0 -0.5rem 0 var(--primary),
    -0.8rem -1rem 0 var(--secondary);
}

.code-img {
  max-width: 100%;
  display: block;
  grid-column: 1 / -1;
  grid-row: 1 / 3;
  align-self: center;
  clip-path: polygon(0 50%, 50% 100%, 50% 80%, 20% 50%, 50% 21%, 80% 50%, 50% 80%, 50% 100%, 100% 50%, 50% 0);
  transition: all 0.4s ease-in-out;
}

.code-title {
  margin: 0;
  padding: 0.25em;
  position: relative;
  bottom: 0;
  z-index: 1;
  text-align: center;
  font-family: "Major Mono Display", monospace;
  text-transform: uppercase;
  color: black;
  width: 100%;
}

 .code-button:hover .code-img {
  clip-path: polygon(0 0, 0 100%, 50% 80%, 20% 49%, 42% 59%, 80% 50%, 0 0, 0 100%, 100% 100%, 100% 0);
  transition: all 0.2s ease-in-out;
}

.code-button:hover .grey-image {
  opacity: 0;
}

.code-button:hover .color-image {
  opacity: 1;
}

.col {
  min-width: 350px;
  max-width: 350px;
  margin-bottom: 15px;
}

.code-card:hover {
  background-color: #f7f7f7;
  transform: scale(1.05);
  box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.2);
  transition: all 0.2s ease-in-out;
}

.modal-content {
  max-width: 2000px;
}

.modal-backdrop.show {
  z-index: 1000;
}

.modal-dialog {
  z-index: 20;
}

.modal-backdrop {
  z-index: -10;
}
  
.modal-body a {
  background-color: rgba(0, 0, 0, 0);
}

.code-card-info {
  background-color: #ececec;
  box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.2);
  border-radius: 3px;
  color: #7a7a7a;
}

.code-modal-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header-image-hold {
  max-width: 816px;
  height: 306px;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 3px 3px 6px 5px rgba(0,0,0,0.2);
}

.code-info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.code-info-card {
  text-align: center;
  padding: 10px 50px 30px;
  background-color: #e6e6e6;
  color: #494949;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 1.5rem;
  box-shadow: inset 3px 3px 6px 0px rgba(0,0,0,0.2);
  outline: solid 2px #ececec;
  border: solid 5px #fff;
}

.code-info-card h2 {
  color: #7a7a7a;
  font-family: 'Great Vibes', cursive;
  text-decoration: underline;
}

.modal-btn {
  background: transparent; 
  position: relative;
  border: 2px solid #5a5a5a;
  padding: 15px 50px;
  overflow: hidden;
  margin: 10px;
  transition: all 0.3s ease-in-out;
  box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.4);
}

.modal-btn:hover {
  cursor: pointer;
  box-shadow: 6px 6px 6px 0px rgba(0,0,0,0.2);
  transform: skewX(-5deg);
}

.modal-btn p {
  margin: 0;
}

.modal-btn:hover:before {
  opacity: 1; transform: translate(60px,0);
}

.modal-btn:before{
  content: attr(data-hover);
  position: absolute;
  top: 1.1em; left: 0;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 800;
  font-size: .8em;
  opacity: 0;
  transform: translate(-100%,0);
  transition: all .3s ease-in-out;
}

  .modal-btn:hover p {
    opacity: 0; transform: translate(100%,0)
  }
  
  .modal-btn p {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
    font-size: .8em;
    transition: all .3s ease-in-out;
    color: #000;
  }


/* End of Coding Page */

/* Design page */

.design-container {
  justify-content: space-evenly;
}

.grey-image {
  opacity: 1;
}

.color-image {
  opacity: 0;
}

.design-card {
  border: 0;
  transition: all 0.2s ease-in-out;
}

.btn-check:active + .btn-primary, .btn-check:checked + .btn-primary, .btn-primary.active, .btn-primary:active, .show > .btn-primary.dropdown-toggle {
  color: #ececec;
  background-color: #ececec;
  border: none;
}

.btn-check:active + .btn-primary:focus, 
.btn-check:checked + .btn-primary:focus, 
.btn-primary.active:focus, .btn-primary:active:focus, 
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

.design-button:hover {
  color: #ececec;
  background-color: #ececec;
  border: none;
} 

.card-body {
  padding: 0;
}

.design-button {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1rem auto;
  max-width: 40rem;
  position: relative;
  box-shadow: 0.75rem -0.5rem 0 var(--accent), 0 -0.5rem 0 var(--primary),
    -0.8rem -1rem 0 var(--secondary);
}

.design-img {
  max-width: 100%;
  display: block;
  grid-column: 1 / -1;
  grid-row: 1 / 3;
  align-self: center;
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  transition: all 0.4s ease-in-out;
}

.design-title {
  margin: 0;
  grid-column: 1 / 5;
  grid-row: 2 / span 1;
  align-self: center;
  padding: 0.25em;
  position: relative;
  bottom: 0;
  z-index: 1;
  text-align: center;
  font-family: "Major Mono Display", monospace;
  text-transform: uppercase;
  color: black;
  background-color: #f4f5f6;
}

 .design-button:hover .design-img {
  clip-path: polygon(20% 0%, 0 0, 0 51%, 0% 80%, 0 100%, 52% 100%, 80% 100%, 100% 100%, 100% 51%, 100% 20%, 100% 1%, 49% 0);
  transition: all 0.2s ease-in-out;
}

.design-button:hover .grey-image {
  opacity: 0;
}

.design-button:hover .color-image {
  opacity: 1;
}

.design-card:hover {
  background-color: #f7f7f7;
  transform: scale(1.05);
  box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.2);
  transition: all 0.2s ease-in-out;
}

.modal-content {
  max-width: 2000px;
}

.modal-dialog {
  z-index: 20;
}

.modal-backdrop {
  z-index: -10;
}

.carousel-caption {
  bottom: 0;
  padding: 0;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 25%, rgba(0,0,0,1) 75%, rgba(255,255,255,0) 100%); 
}
  
.modal-body a {
  background-color: rgba(0, 0, 0, 0);
}

.carousel-control-next,
.carousel-control-prev {
  top: 100;
}

.carousel-caption h3,
.carousel-caption p {
  margin-bottom: 2px;
  font-size: 70%;
}

.design-card-info {
  background-color: #ececec;
  box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.2);
  border-radius: 3px;
  color: #7a7a7a;
}

/* End Of Design page */

/* Blog Page */

.blog-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.blog-card {
  height: 420px;
  width: 300px;
  background-color: rgb(253, 251, 236);
  padding: 10px;
  border-radius: 5px;
  position: relative;
  margin: 3px;
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.4);
  transition: all 0.2s ease-in-out;
}

.blog-card:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.1);
  transition: all 0.2s ease-in-out;
}

.blog-card a {
  text-decoration: none;
}

.blog-image-overlay {
  position: absolute;
  top: 120px;
  left: 20px;
  bottom: 200px;
  width: 264px;
  height: 205px;
  background: rgb(231,189,136);
  background: linear-gradient(200deg, rgba(231,189,136,0) 40%, rgba(239,166,70,1) 100%); 
  transition: all 0.2s ease-in-out;
}

.blog-card:hover .blog-image-overlay {
  top: 400px;
  height: 0px;
  transition: all 0.2s ease-in-out;
}

.blog-card-deco {
  position: absolute;
  top: 18px;
  left: 18px;
  height: 384px;
  width: 264px;
  background-color: transparent;
  border: 5px solid rgba(255, 255, 255, 0.5);
  border-radius: 50px 50px 0 0;
  z-index: 10;
}

.blog-card-link img {
  width: 100%;
  color: #000;
  font: 40px "Major Mono Display", monospace;
}

.blog-card-link h5 {
  width: 280px;
  height: 95px;
  background-color: #1f2a3d;
  color: #efa646;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0 18px 4px 18px;
  border-top: solid 4px #efa646;
  text-transform: uppercase;
  position: absolute;
  bottom: 2px;
  font-family: "Major Mono Display", monospace;
}

.blog-container {
  width: 100%;
  height: 700px;
  padding: 0 150px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.blog-left {
  background-color: #f7f7f7;
  min-width: 400px;
  max-width: 400px;
  position: relative;
  border: none;
}

.blog-left img {
  height: 100%;
  width: 100%; 
  border: none;
}

.blog-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
  background: rgb(255,255,255);
  background: linear-gradient(162deg, rgb(0, 0, 0) 0%, rgba(255,255,255,0) 50%); 
}

.blog-quote {
  font-family: 'Great Vibes', cursive;
  color: #7a7a7a;
  max-width: 400px;
  font-weight: 700;
  color: #2d97c3;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 100px;
  right: -800px;
  transform: skewY(-5deg);
}

.blog-quote img {
  margin: -10px 10px 10px 10px;
  height: 40px;
  width: 58px;
}

.blog-quote img:first-child {
  transform: rotate(180deg);
}

.blog-specifics {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  color: #363636;
  margin: 20px 50px;
}

.blog-specifics p {
  margin: 10px;
  font-size: 1rem;
  width: 400px;
  padding: 5px;
  text-align: center;
  border-top: 2px solid #7a7a7a;
  border-bottom: 2px solid #7a7a7a;
}

.blog-container {
  padding: 20px;
  color: #3a3a3a;
}

.blog-right {
  text-align: center;
  font-size: 1.25rem;
}

.blog-text-container {
  padding: 0 70px 30px 70px;
}

.blog-text {
  border-bottom: 2px solid #9e9e9e;
  border-top: 2px solid #9e9e9e;
  padding: 40px 20px;
}

.blog-socials h3 {
  text-decoration: underline;
  font-family: 'Questrial', sans-serif;
}

.blog-socials ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin: 20px 0 50px;
  list-style-type: none;
  padding: 0; 
  transition: all 0.2s ease-in-out;
}

.blog-socials ul li {
  border-bottom: 1px solid #9e9e9e;
  border-right: 1px solid #9e9e9e;
  border-radius: 5px;
  padding: 10px;
  background-color: #f4f5f6;
}

.blog-socials ul li:active {
  background-color: #e6e6e6;
  border-bottom: 0px;
  border-right: 0px;
}

.back-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.back-link div {
  padding: 10px 30px;
  background-color: #d6d9db;
  font-size: 1.2rem;
  border-radius: 7px;
  border-bottom: 1px solid #9e9e9e;
  border-right: 1px solid #9e9e9e;
  cursor: pointer;
}

.back-link div:active {
  background-color: #cbcccc;
  font-size: 1.2rem;
  border-radius: 7px;
  border-bottom: none;
  border-right: none;
}


/* End Of Blog Page */

/* End of Individual Pages */

/* Footer styles */

footer {
  background-color: #f4f5f6;
  width: 100%;
  display: flex;
  color: #999999;
  font-size: 20px;
  font-family: 'Great Vibes', cursive;
  padding: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  justify-content: space-around;
  z-index: 50;
  box-shadow: 0px 20px 35px #fff, 0px 5px 7.5px #fff, 0px 0px 15px #fff, 3px -5px 12.5px rgba(0, 0, 0, 0.2);
}

footer p {
  margin: 0;
}

/* End Of Footer Styles */

/* Media Queries */

@media (min-width: 1024px) { 

  main {
    padding: 100px 50px 50px;
  }

  .astro-goalie {
    width: 30%;
    right: 0.7%;
    margin-top: 5%;
    transform: rotate(10deg);
    animation: floatgoalie 8s linear 0s infinite;
  }
  
  @keyframes floatgoalie {
    0% {right: 0.7%;}
    25% {right: 1.5%;}
    50% {margin-top: 0%;}
    75% {right: 0.7%;}
    100% {margin-top: 5%;}
  }
  
  .astro-blog {
    width: 15%;
    right: 61%;
    transform: rotate(15deg);
    animation: floatblog 8s linear 0s infinite;
  }
  
  @keyframes floatblog {
    0% {right: 61%;}
    25% {right: 62%;}
    50% {margin-top: 2%;}
    75% {right: 61%;}
    100% {margin-top: 0%;}
  }
  
  .astro-me {
    width: 17%;
    right: 49%;
    transform: rotate(15deg);
    margin-top: 10%;
    animation: floatme 8s linear -2s infinite;
    background-color: none;
  }
  
  @keyframes floatme {
    0% {right: 49%;}
    25% {right: 51%;}
    50% {margin-top: 8%;}
    75% {right: 51%;}
    100% {margin-top: 10%;}
  }
  
  .astro-code {
    width: 23%;
    right: 75%;
    transform: rotate(-10deg);
    animation: floatcode 8s linear -4s infinite;
  }
  
  @keyframes floatcode {
    0% {right: 75%;}
    25% {right: 76%;}
    50% {margin-top: -2%;}
    75% {right: 75%;}
    100% {margin-top: 0%;}
  }
  
  .astro-contact {
    width: 25%;
    right: 30%;
    transform: rotate(20deg);
    animation: floatcontact 8s linear -1s infinite;
  }
  
  @keyframes floatcontact {
    0% {right: 30%;}
    25% {right: 28%;}
    50% {margin-top: 2%;}
    75% {right: 30%;}
    100% {margin-top: 0%;}
  }
  
  .astro-skills {
    width: 15%;
    right: 34%;
    margin-top: 16%;
    transform: rotate(50deg);
    animation: floatskills 8s linear -6s infinite;
  }
  
  @keyframes floatskills {
    0% {right: 34%;}
    25% {right: 37%;}
    50% {margin-top: 14%;}
    75% {right: 34%;}
    100% {margin-top: 16%;}
  }

  .contact-container a {
    height: 500px;
    width: 250px;
    position: relative;
    margin: 0px;
  }
  .contact-container a img {
    height: 500px;
    width: 250px;
    z-index: 2;
 }

 .contact-container a .color  {
  position: absolute;
  top: 0;
  right: 0;
  left: 250px;
  width: 0px;
  transition: all 0.15s;
}

.contact-container a .grey {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  transition: all 0.15s;
  display: block;
}

.contact-container a:hover .grey {
  width: 0px;
  right: 250px;
  transition: all 0.15s;
}

.contact-container a:hover .color {
  width: 250px;
  right: 0px;
  left: 0px;
  transition: all 0.15s;
}

.about-container {
  flex-wrap: nowrap;
  justify-content: space-between;
}


.about-pic {
  width: 600px;
}

.about-info {
  padding: 20px;
}

.about-info h1 {
  font-size: 75%;
}

.about-info p {
  font-size: 1.5rem;
}

.about-info q {
  font-size: 5rem;
}

.carousel-caption h3,
.carousel-caption p {
  font-size: 100%;
}

.flip-card {
  width: 400px;
  height: 560px;
}

.flip-card-front img {
  border-radius: 6px;
  width: 400px;
  height: 560px;
}

.flip-card-front {
  display: block;
}

.flip-card-back {
  transform: rotateY(180deg);
} 

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.inner-card-info {
  width: 300px;
  height: 420px;
  background-color: #202c3f;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  top: 60px;
  left: 50px;
}

.inner-card-info {
  width: 300px;
  height: 420px;
  top: 60px;
  left: 50px;
}





}
